.App {
  background-color: var(--light-grey);
  color: var(--dark-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main-content-container {
  max-width: 1200px; /* Adjust as needed for overall content width */
  margin: 0 auto; /* Center the container */
  padding: 0 var(--horizontal-padding); /* Use a new variable for horizontal padding */
  box-sizing: border-box; /* Include padding in element's total width */
}
